.form-input-container {
    display: flex;
    flex-direction: column;
    width: 285px;
}
  
.form-input-container input {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    width: 240px;
    border: 1px solid gray;
}

.form-input-container label {
    font-size: 12px;
    color: gray;
}

.form-input-container span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

.form-input-container input:invalid[focused="true"] {
    border: 1px solid red;
}

.form-input-container input:invalid[focused="true"] ~ span {
    display: block;
}