.App {
  height: auto;
  padding: 80px 80px;
}

.ag-theme-alpine{
    height: 900px;
}

@media (max-width: 851px) {
  .App {
      margin-bottom: 300px;
  }
}

@media (max-width: 560px) {
  .App {
      padding: 80px 10px;
  }
}